<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Valoux</title>
<!--[if gte mso 9]>
<style>
#tableForOutlook { width:704px; }
</style>
<![endif]-->

<style type="text/css">
@media only screen and (max-width: 767px) {
td [class=logo-txt] {
	font-size: 22px !important;
	margin-top: 20px;
	float: left;
}
td [class=logo1] {
	max-width: 50%;
	float: left;
	margin-right: 20px;
}
}

@media only screen and (max-width: 479px) {
td [class=logo-txt] {
	padding-top: 0px;
	float: left;
	width: 190px;
	margin-top: 10px;
}
}
</style>
<!-- Google fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,600italic,600,400italic' rel='stylesheet' type='text/css'>
</head>

<body style="margin:0px; padding:0px; color:#333;" bgcolor="#F9F9FB">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  <tr style="background:#F9F9FB;">
    <td><table cellspacing="0" cellpadding="0" bgcolor="#293249" width="100%" style="max-width:640px; margin:0 auto;">
        <tr>
          <td align="center" style="padding: 12px 8px 6px; color:#1F2A33; font-size:24px; font-family:Arial, sans-serif; text-align:center;" class=""><span style="display:inline-block; position:relative; text-align:center; margin-top:0px;"> 
            <img style="border:none;" alt="" src="__BASEPATH__img/logo.png"></span>            
          </td>
        </tr>
      </table>
      
      <!-- main table stats--> 
      <!--[if gte mso 9]>
  <table id="tableForOutlook" align="center"><tr><td>
<![endif]-->
      
      <div style="max-width:640px; margin: 0px auto; padding: 10px 0px;">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="max-width:704px; ">
        <tr>
          <td><!-------------main_table------->
            
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <!------header---> 
              <!------content---->
              <tr>
                <td bgcolor="#FFFFFF" style="border:solid 1px #DEE3E9;"><table cellpadding="0" cellspacing="0" style="padding-top:40px; padding-left:5%; padding-bottom:16px; padding-right:5%;" width="100%">
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">

					   <tr>
						   <td class="" align="center" style="padding-top:0px; padding-right:8px; padding-bottom:20px; padding-left:10px; color:#1F2A33; font-size:24px; font-family:Arial, sans-serif">Hi __UserName__,</td>
					   </tr>
                   
                         <tr>
                            <td style="color:#4A4A4A; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:18px; padding-top:0px; padding-right:8px; padding-bottom:20px; padding-left:0px;"> 
                            <span style="font-size:15px;   margin-top: 10px;display: inline-block;">To reset password, Please click the 'Reset Password' button.</span>
                            
                            </td>
                          </tr>
						   <tr>
                            <td style="color:#4A4A4A; line-height:20px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:15px; padding-top:10px; padding-right:0px; padding-bottom:27px; padding-left:0px; font-family: 'Open Sans',sans-serif;"> <a href="__BASEPATH__view/resetPasswordVerification.html#/?ecptycode=__INVITATIONKEY__" style="text-decoration:none; background:#5EBD5E; padding:0px 10px; border-radius:4px; color:#fff; line-height:36px; display:inline-block; font-size:18px;">Reset Password</a> </td>
                          </tr>
						   <tr>
                            <td style="color:#4A4A4A; line-height:20px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:15px; padding-top:0px; padding-right:0px; padding-bottom:20px; padding-left:0px;"> 
								Or copy and paste below link into your web browser : </td>
                           </tr>
                           <tr>
                            <td style="color:#4A4A4A; line-height:20px; text-align:center; font-size:14px; padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px;font-family: 'Open Sans',sans-serif;">
                            <span style="background:#E5F4E5;  width: 100%; display:inline-block;  text-align:center; border-radius:8px;    padding: 12px 0px;"><a href="__BASEPATH__view/resetPasswordVerification.html#/?ecptycode=__INVITATIONKEY__" style="color:#0078BF; text-decoration:none;">__BASEPATH__view/resetPasswordVerification.html#/?ecptycode=__INVITATIONKEY__</a></span></td>
                          </tr>
                                                
                        </table></td>
                    </tr>
                  </table>
                  
                <td>
              <tr>
            </table></td>
        </tr>
        
        <!-- footer-->
       <tr>
          <td bgcolor="" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="" style="font-family:Arial, Helvetica, sans-serif; padding-top:20px; padding-bottom:15px; padding-left:10px; padding-right:10px;color:#333; font-size:13px;">
                <span style="float:left;"><b> &copy;&nbsp;2016 Valoux, All Rights Reserved.</b></span>
					<!-- <a href="http://valoux.net/" target="_blank" style="float:right; margin-top:5px;">
					<img src="__BASEPATH__templates/email/images/logo-md.png"  alt=""/></a> --></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</div>
<!--[if gte mso 9]>
  </td></tr></table>
<![endif]--> 
<!-- main table ends-->
</td>
</tr>
</tr>
</table>
</body>
</html>
