<div class="clearfix"></div>
<div class="graybox" ng-cloak>
 <div class="container" ng-init="updateCollections()">
    <div class="row">
      <div class="col s12">
        <div class="page-header">
            <h1 ng-hide="inviteNewConsumer" ng-if="!edit" class="pull-left">Add New Collection<!-- <a href="javascript:;" class="back" onclick="goBack()"><img alt="" src="../img/arrow-back.png"> BACK</a> --></h1>
          <h1 ng-if="edit" class="pull-left">Edit Collection<!-- <a href="javascript:;" class="back" onclick="goBack()"><img alt="" src="../img/arrow-back.png"> BACK</a> --></h1>
          <h1 ng-if="inviteNewConsumer" ng-hide="edit" class="pull-left">Add New Collection & Invite New Consumer<!-- <a href="javascript:;" class="back" onclick="goBack()"><img alt="" src="../img/arrow-back.png"> BACK</a> --></h1>
          <div class="rightbox2">
          <div class="view-list" ng-if="agentHeaderEnable && isAgentLogin" ng-init="initConsumerInformation()" ng-hide="inviteNewConsumer">
              <div class="searchbox-left searchbox-left1"><i class="txt13">Select Consumer:</i><br>
              <select id="viewedItemsBy" ng-change="storeConsumerInfoDropdown(viewItemBy)" name="viewItemsBy" ng-model="viewItemBy" ng-options="viewItemsBy.consumerPublicKey as (viewItemsBy.firstName + ' ' + viewItemsBy.middleName + ' ' + viewItemsBy.lastName) for viewItemsBy in viewByConsumer">
              <option value="">Consumer name</option>
              </select>
           
            </div>
            </div>
            <a ng-hide="inviteNewConsumer || edit" href="javascript:;" ng-click="inviteNewConsumerAgent()" ng-if="agentHeaderEnable && isAgentLogin" target="_self" class="add-new"><img src="../img/icon-plus.png" alt="" > Invite consumer</a>
        </div>
        </div>
      </div>
    </div>

    <div class="header-bg-1 margbtn0" ng-if="agentHeaderEnable && isAgentLogin" ng-hide="inviteNewConsumer">
        <!-- <a data-tooltip="Add New Item" data-delay="50" data-position="bottom" class="icon-big-plus waves-effect waves-light tooltipped" href="collection-agent.html#/add"><img alt="" src="../img/icon-plus-big.png"></a> -->
            <div class="agent-left-con">
        <div class="pic-con2"><img fallback-src="../img/profile-pic-default.jpg" ng-src="../valoximage/consumerimageuploaded/{{consumerList.imageUrl}}" alt=""></div>
        
        <span>{{consumerList.firstName}}  {{consumerList.middleName}} {{consumerList.lastName}}</span> 
        </div>
        
        <a class="back-btn2" href="javascript:;" ng-click="cancelAgent()"><img src="../img/arrow-previous.png" alt="">BACK</a>
      </div>
      <div class="header-bg-1 margbtn0" ng-if="inviteNewConsumer">
        <!-- <a data-tooltip="Add New Item" data-delay="50" data-position="bottom" class="icon-big-plus waves-effect waves-light tooltipped" href="collection-agent.html#/add"><img alt="" src="../img/icon-plus-big.png"></a> -->
            <div class="agent-left-con">
        
        
        </div>
        
        <a class="back-btn2" href="javascript:;" ng-click="cancelAgent()"><img src="../img/arrow-previous.png" alt="">BACK</a>
      </div>
    

    <div class="row">
      <form autofocus-form class="col s12" name="createCollectionForm" ng-submit="createCollectionForm.$valid && createCollectionStep1()" novalidate>
        <div class="whitebox1">
        <div class="col m12 s12">
            
            <div class="error-msg" ng-if="collectionFormError">
            <div class="disp-cell">
            <i class="fa fa-exclamation-triangle"></i>
            </div> 
            <div class="disp-cell">
            <span>{{errorMessage}}</span>
        </div>
        </div>
        </div>

        <!--start Create collection step 1 -->
        <!-- <create-collection-step1></create-collection-step1>  -->

        <div class="box1 box1-margin">
            <div class="col m12 s12 l8">
              <div class="row">
                <div class="col s12">
                  <div class="step-1">STEP - <b>1</b></div>
                  <span class="step-1-subhead">COLLECTION DETAILS</span>
                </div>
              </div>
              <div class="row" ng-if="inviteNewConsumer && isAgentLogin">
                <div class="input-field col s6 full-width-sm">       
                <input id="fname" name="fname" ng-model="globl.fname" type="text" required>
                  <label for="fname" class="">First name <sup>*</sup></label>
                  <label class="error" ng-show="createCollectionForm.$submitted || (createCollectionForm.fname.$dirty && createCollectionForm.fname.$invalid)">
                  <label class="error-msg-form" ng-show="createCollectionForm.fname.$error.required">First name is required.</label>
                  </label>

                  </div> <div class="input-field col s6 full-width-sm"><input id="lname" name="lname" ng-model="globl.lname" type="text" required>
                  <label for="lname" class="">Last name <sup>*</sup></label>
                  <label class="error" ng-show="createCollectionForm.$submitted || (createCollectionForm.lname.$dirty && createCollectionForm.lname.$invalid)">
                  <label class="error-msg-form" ng-show="createCollectionForm.lname.$error.required">Last name is required.</label>
                  </label>

                  </div></div>
                  <div class="row" ng-if="inviteNewConsumer">
                <div class="input-field col s12 full-width-sm">
                  <input id="emailId" isemail-Exists name="emailId" ng-model="globl.emailId" type="email" ng-pattern="/^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$/i" required maxlength="100">
                  <label for="emailId" class="">Email address <sup>*</sup></label>
                  <label class="error" ng-show="createCollectionForm.$submitted ||  createCollectionForm.emailId.$touched || (createCollectionForm.emailId.$dirty && createCollectionForm.emailId.$invalid)">
                  <label  class="error-msg-form" ng-show="createCollectionForm.emailId.$error.required">Email is required.</label>
                  <label class="error-msg-form" ng-show="createCollectionForm.emailId.$error.pattern">Invalid email.</label>
                  <label class="error-msg-form" ng-show="createCollectionForm.emailId.$pending.emailId">Checking if this email is available...</label>
                  <label class="error-msg-form" ng-show="createCollectionForm.emailId.$error.emailId">Email already exists.</label>

                  </label>
                </div>
              </div>
              <div class="row" ng-if="agentHeaderEnable || consumerLogin" ng-hide="inviteNewConsumer">
                <div class="input-field col s12 full-width-sm">
                  <input iscollectionname-Exists="storeCollection.collectionId" ng-model-options="{ updateOn: 'blur' }" id="collectionname" maxlength="100" type="text" name="cName" ng-model="storeCollection.cName" required>


                  <label ng-class="class" for="collectionname">Collection name <sup>*</sup></label>
                  <label class="error" ng-show="createCollectionForm.$submitted || createCollectionForm.cName.$touched || (createCollectionForm.cName.$dirty && createCollectionForm.cName.$invalid)">
                  <label class="error-msg-form" ng-show="createCollectionForm.cName.$error.required">Collection name is required.</label>
                  <label class="error-msg-form" ng-show="createCollectionForm.cName.$pending.cName">Checking Collection name is available...</label>
                  <label class="error-msg-form" ng-show="createCollectionForm.cName.$error.cName">Collection name already exists.</label>
                  </label>
                </div>
              </div>
              <div class="row" ng-if="inviteNewConsumer">
                <div class="input-field col s12 full-width-sm">
                  <input id="collectionnameNew" maxlength="100" type="text" name="cNameNew" ng-model="globl.cNameNew" required>

                  <label ng-class="class" for="collectionnameNew">Collection name <sup>*</sup></label>
                  <label class="error" ng-show="createCollectionForm.$submitted || createCollectionForm.cNameNew.$touched || (createCollectionForm.cNameNew.$dirty && createCollectionForm.cNameNew.$invalid)">
                  <label class="error-msg-form" ng-show="createCollectionForm.cNameNew.$error.required">Collection name is required.</label>
                  <label class="error-msg-form" ng-show="createCollectionForm.cName.$pending.cNameNew">Checking Collection name is available...</label>
                  <label class="error-msg-form" ng-show="createCollectionForm.cNameNew.$error.cNameNew">Collection name already exists.</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12"> <span for="first_name">Description <sup>*</sup></span> <span class="character">Up to {{0 + storeCollection.cDescription.length}}/1000 characters</span>
                  <div class="clearfix"></div>
                  <textarea ng-model="storeCollection.cDescription" name="cDescription" id="textarea1" maxlength="1000" class="materialize-textarea textarea1" placeholder="Enter description here" required></textarea>
                  
                </div>
                <label class="error col s12 txtarea-error" ng-show="createCollectionForm.$submitted || (createCollectionForm.cDescription.$dirty && createCollectionForm.cDescription.$invalid)">
                  <label class="error-msg-form" ng-show="createCollectionForm.cDescription.$error.required">Description is required.</label>
                  
                  </label>
              </div>




              <div class="row">
                <div class="file-field input-field col  s12 m12"> <span class="label1 label5">Upload collection optional <span class="txt12">(<i>File type</i>: jpg, png, gif   Size: 2 MB max)</span>

                <img src="../img/icon-info.jpg" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam." data-position="top" data-delay="50" class="icon-info tooltip tooltipstered"></span> </div>
              </div>

              <div class="row">
                <div class="file-field col  s12 m10">
                  <div class="btn"> <span>BROWSE</span>
                    <input type="file" title="" custom-on-change="uploadCollectionImage" accept="image/jpg,image/png,image/jpeg,image/gif">
                  </div>
                  <div class="file-path-wrapper">
                    <input type="text" disabled id="fileCollection" value="" placeholder="" class="file-path validate">

                  </div>
                  <a ng-show="close" href="javascript:void(0);" ng-click="clearImage()" data-position="bottom" data-delay="50" data-tooltip="Remove" href="javascript:;" class="close-btn close-btn-small close-clear close-clear1 tooltipped">&nbsp;</a>
                  <label ng-if="inValidimg" class="error" >
                        <label class="error-msg-form">{{ inValidimgText }}</label>
                    </label>
                </div>
                
                <div class="file-field col s12 m2" ng-show="imageDisplay"> <span class="thumb2"><img alt="" fallback-src="../img/not-found-collection-small.jpg" ng-src="../valoximage/imageuploaded/{{cImages}}" class=""> </span><a  href="javascript:;" ng-click="removeCollectionImage()" data-tooltip="DELETE" data-delay="50" data-position="bottom" class="tooltipped"><img src="../img/icon-trash.jpg" width="10" height="12" alt=""/> </a> </div>
              </div>
              <br>
            </div>
            
            <div class="col s12 m12 l4 card-panel-gray1-padl vis-l">
              <div class="row">
                <div class="col s12">
                  <div class="card-panel-gray1 compo-box right-panel-white">
                    <div class="ideabox-2">
                      <div class="center"><img alt="" src="../img/ideabox.jpg" class="idea-img"></div>
                      <p>Lorem Ipsum is simply dummy text industry. Lorem Ipsum has dummy text of the printing and typesetting industry.</p>
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>
          </div>
          <div id="box_show7" ng-if="stepButton">
          <div class="center whitebox1-footer whitebox1-footer3 btn-con"> <a ng-if="!isAgentLogin" href="javascript:;" ng-click="cancel()" class="btn-large btn-default 
          waves-effect waves-light">CANCEL</a> 
          <a ng-if="isAgentLogin" href="javascript:;" ng-click="cancelAgent()" class="btn-large btn-default waves-effect waves-light">CANCEL</a>
          <button class="btn-large btn-large1 waves-effect waves-light" type="submit">CONTINUE</button>
          <!-- <a href="javascript:;" class="btn-large btn-large1 waves-effect waves-light" onclick="toggle7();">CONTINUE</a> --> </div>
          </div>
        <!-- <div ng-view></div> -->
        <!--end Create collection step 1 -->

        <!--start Create collection step 2 -->
        <!-- <create-collection-step2 ng-show="collectionStep2"></create-collection-step2>  -->
        <div id="box_show8" class="" ng-if="noItem">
          <div class="row">
            <div class="col s12">
              <div class="collectionbox collectionbox3">
                <div class="col m12 l12 s12 collectionbox-left">
                  <div class="row">
                    <div class="col s12">
                      <div class="step-1">STEP - <b>2</b></div>
                      <span class="step-1-subhead">ADD ITEMS TO COLLECTION</span> </div>
                  </div>
                 
                    <div class="col s12 collectionbox-wrap"> 
            
                      
                   <label>NO ITEMS AVAILABLE</label>
                   <p>Please go to Items from top menu and Add new item to add to the collection.</p>
                   
                   <a ng-if="!isAgentLogin" href="item.html#/add" class="btn3">Add Item</a>
                   <a ng-if="isAgentLogin" href="item-agent.html#/add" class="btn3">Add Item</a>
                  
                    </div>
            
                </div>
              </div>
            </div>
          </div><div class="clearfix"></div>
          <div class="center whitebox1-footer whitebox1-footer3 btn-con"> <a ng-if="!isAgentLogin" class="btn-large btn-default waves-effect waves-light" href="javascript:;" ng-click="cancel()">CANCEL</a>
            <a ng-if="isAgentLogin" class="btn-large btn-default waves-effect waves-light" href="javascript:;" ng-click="cancelAgent()">CANCEL</a>


           <a ng-if="!edit" class="btn-large btn-large1 btn-large4 waves-effect waves-light" href="javascript:;" ng-click="(createCollectionForm.$valid && createCollectionStep2()) || focus()">
          <span>OR - SKIP THIS AND</span>
          COMPLETE COLLECTION</a>  
          <a ng-if="edit" class="btn-large btn-large1 btn-large4 waves-effect waves-light" href="javascript:;" ng-click="(createCollectionForm.$valid && editCollectionSubmit()) || focus()">

          <span>OR - SKIP THIS AND</span>
          UPDATE COLLECTION</a> 
          </div>
          </div>


          <div class=""  id="box_show8" ng-show="getItemList">
                    <div class="row">

                    <div class="col s12" ng-if="edit">
              <div class="list-header"><b>ITEM LIST</b> - You have added <strong>{{total || 0}}</strong> items to this collection. <!-- <a class="icon-big-plus tooltipped" data-tooltip="Add New Item" data-delay="50" data-position="bottom" href="item.html#/add" data-tooltip-id="419e1515-c28b-10be-dbf6-b39322d23b5a"><img alt="" src="../img/icon-plus-big.png"></a> --></div>
            </div>

            <div class="col s12">
              <div class="collectionbox">
                <div class="col m12 l6 s12 collectionbox-left"> <a class="icon-big-plus waves-effect waves-light tooltipped" data-tooltip="Add Now" data-delay="50" data-position="bottom" href="javascript:;" ng-click="itemAddcollections()" data-tooltip-id="5f85b908-838f-70d1-1d0d-bbdd1c6834ca"><img alt="" src="../img/icon-arrow1.png"></a>
                  <div class="row">
                    <div class="col s12">
                      <div class="step-1">STEP - <b>2</b></div>
                      <span class="step-1-subhead">ADD ITEMS TO COLLECTION</span> </div>
                  </div>
                  <div class="mCustomScrollbar collection-scroll2">
                    <div class="col s12 collectionbox-wrap"> 
                      <!-- Add item row start here-->
                      <div class="row list-item" ng-repeat="items in itemData">
                        <div class="col m1 s1 col-xs-2">
                          <div class="input-field input-field2">
                            <input ng-model="items.selected" type="checkbox" id="filled-in-box{{items.itemId}}" class="filled-in">
                            <label for="filled-in-box{{items.itemId}}"></label>
                          </div>
                        </div>
                        <div class="col m3 s3 col-xs-9">
                          <div class="img-con1"><img alt="" fallback-src="../img/not-found-item-small.jpg" ng-src="../valoximage/imageuploaded/{{items.itemImages[0].itemImagePath}}"></div>
                        </div>
                        <div class="col m8 s8 col-xs-12"><span class="title1">{{items.name | limitTo: 20 }} {{items.name.length < 20 ? '' : '...'}} <small>ID# {{items.itemId}}</small></span> </div>
                      </div>
                      <!-- Add item row end here--> 
                      
                      
                    </div>
                  </div>
                </div>
                <div class="col m12 l6 s12 collectionbox-right">
                  <div class="row">
                    <div class="col s12" ng-if="!edit"> <span class="step-1-subhead">ITEMS IN COLLECTION <span class="badge">{{total || 0}}</span></span> </div>
                  </div>
                  <div class="collectionbox1 collectionbox2"> 
                  <div class="mCustomScrollbar collection-scroll3"> 
                  <div ng-if="itemBlank">
                  
                    <p> <img src="../img/item-graphics.jpg" alt=""/><br>SELECT ITEMS FROM LEFT AND <br>
                      ADD TO THE COLLECTION</p>
                  </div>    
                      <!-- Add item row start here-->
                      <div class="col s12 collectionbox-wrap collectionbox-wrap2"> 
                      <div class="row list-item" ng-repeat="addedItem in addedItems">
                     
                        <div class="col m3 s3 col-xs-12">
                          <div class="img-con1"><img alt="" fallback-src="../img/not-found-item-small.jpg"  ng-src="../valoximage/imageuploaded/{{addedItem.itemImages[0].itemImagePath}}"></div>
                        </div>
                        <div class="col  m8 s8 col-xs-10" ng-model="addedItem.selected">
                        <span class="title1 title3">
                        {{addedItem.name | limitTo: 20 }} {{addedItem.name.length < 20 ? '' : '...'}} 
                        <small>ID#  {{addedItem.itemId}}</small>
                        </span> 
                        </div>
                      <div class="col m1 s1 col-xs-2">
                      <a href="javascript:;" ng-click="removeItemsCollection($index)" data-position="bottom" data-delay="50" data-tooltip="Remove" class="tooltipped">  <img src="../img/icon-trash.jpg"  alt=""/> </a></div>
                      </div>
                      </div>
                      <!-- Add item row end here--> 
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="center whitebox1-footer whitebox1-footer3 btn-con"> <a ng-if="!isAgentLogin" href="javascript:;" ng-click="cancel()" class="btn-large btn-default waves-effect waves-light">CANCEL</a> 
          <a ng-if="isAgentLogin" href="javascript:;" ng-click="cancelAgent()" class="btn-large btn-default waves-effect waves-light">CANCEL</a> 

          <button ng-if="!edit" class="btn-large btn-large1 waves-effect waves-light" ng-click="(createCollectionForm.$valid && createCollectionStep2()) || focus()" type="button">COMPLETE COLLECTION</button>

          <button ng-if="edit" class="btn-large btn-large1 waves-effect waves-light" ng-click="(createCollectionForm.$valid && editCollectionSubmit()) || focus()" type="button">UPDATE COLLECTION</button>

          </div>
          </div>

          

        <!--end Create collection step 2 -->
          
          
          
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
// Tooltip
$('.tooltip').tooltipster();
$('.tooltipped').tooltip({delay: 50});
$('.mCustomScrollbar').mCustomScrollbar();
});

</script>
<!-- custom scrollbar plugin --> 
<!-- <script src="../js/extLib/jquery.mCustomScrollbar.concat.min.js"></script> -->