<div class="clearfix"></div>
<div class="graybox" ng-cloak>
  <div class="container" ng-init="initAppraisalData()">
  <appraisal-popup></appraisal-popup>
  <share-popup></share-popup>
	<thankyouunshare></thankyouunshare>
  <div ng-if="noItem">
    <div class="row">
      <div class="col s12">
        <div class="page-header">
          <h1 class="pull-left">My Appraisals <span class="hide-xs1">-</span> </h1>
          <div class="itembox itembox-mart itembox-head1">You have <b class="badge1">0</b> appraisals.  </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="whitebox1 whitebox1-nopad whitebg-none"> <a href="appraisal.html#/add" data-position="bottom" data-delay="50" data-tooltip="Add New Appraisal" class="icon-big-plus waves-effect waves-light tooltipped"><img src="../img/icon-plus-big.png"  alt=""/></a>
          <div id="demo">
            <ul class="u-fancy-load">
              <li>
                <div class="row">
                  <div class="col m12 l12 s12">
                    <div class="card-panel card-panel3 card-panel3-box-shadow">
                      <div class="dashboard-nodata-wrap no-data">
           <label>NO APPRAISAL AVAILABLE</label>
                <p>  
             You have not created any Appraisal yet  <br>

please click below to add new Appraisal.</p>
<a href="appraisal.html#/add" class="btn3">Add Appraisal</a>

</div>
                      
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <!-- <div class="paging2"><a onclick="toggle2();" href="javascript:;">Load more..</a></div>--> 
        </div>
      </div>
    </div>
</div>
<div ng-if="appraisalListed">
    <div class="row">
      <div class="col s12">
        <div class="page-header">
          <h1 class="pull-left">My Appraisals <span class="hide-xs1">-</span> </h1>
          <div class="itembox itembox-mart">You have added <b class="badge1">{{appraisalListedTotal}}</b> appraisals so far.</div>
          <div class="rightbox">
            <div class="view-list"><i class="txt13">View by:</i><br>
              <a href="appraisal.html#/" ng-click="removeTooltip()" class="list-view tooltipped" data-tooltip="List View" data-delay="50" data-position="bottom">&nbsp;</a> <a href="appraisal.html#/grid" class="grid-view tooltipped active" data-tooltip="Grid View" data-delay="50" data-position="bottom" >&nbsp;</a> </div>
            <div class="searchbox-left"><i class="txt13">Sort by:</i><br>
              <select id="sortBy" ng-model="sortorder">
                <option value="-appraisalId">Latest</option>
                <option value="name">Alphabetical</option>
              </select>
            </div>
            <div class="search-items">
              <nav>
                <div class="nav-wrapper"><span class="hide-xs"> &nbsp;<br>
                  </span>
                  <form>
                    <div class="input-field">
                      <input type="search" placeholder="Search appraisals" ng-model="searchKeyword" required="" id="search2">
                      <label for="search2" class="active"><i class="material-icons">search</i></label>
                      <i ng-click="clearSearchData(this)" data-position="bottom" data-delay="50" data-tooltip="Clear search" class="material-icons tooltipped">close</i> </div>
                  </form>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col m12 s12" id="success" ng-if="successMessage">
                 <div class="success-msg mt-10 mb-10">
                  <div class="disp-cell"><i class="fa fa-thumbs-o-up"></i></div>
                  <div class="disp-cell"><span>{{successMessage}}</span></div>
                  <div class="clear"></div>
                </div>
              </div>
    <div class="row">
      <div class="col s12">
        <div class="whitebox1 whitebox1-nopad whitebg-none"> <a href="appraisal.html#/add" data-position="bottom" data-delay="50" data-tooltip="Add New Appraisal" class="icon-big-plus waves-effect waves-light tooltipped"><img src="../img/icon-plus-big.png"  alt=""/></a>
<div id="demo" ng-show="!filtered.length">
            <ul>
              <li>
                <div class="row">
                  <div class="col m12 l12 s12">
                    <div class="card-panel card-panel3 card-panel3-box-shadow">
                      <div class="dashboard-nodata-wrap no-data">
           <label>(0) RESULT FOUND.</label>
                <p>  
             No appraisal available matching with your keyword <b>"{{searchKeyword}}"</b>. <br>
             Try another keyword.



              </p>


</div>
                      
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <div class="row1 gridbox"> 
            
            <!-- Appraisal list row start here-->
            <div class="item" ng-repeat="appraisalList in filtered = (appraisalListed | orderBy:sortorder | filter: searchKeyword)">
              <ul>
                <li>
                <div class="welcomebox"> <a data-activates="dropdown_{{appraisalList.appraisalId}}_appraisal" href="javascript:;" class="drop-down dropdown-button dropdown-button1 right"> <i class="ellpsis-v right">&nbsp;</i></a>
                        <ul class="dropdown-content dropdown-content1" id="dropdown_{{appraisalList.appraisalId}}_appraisal">
                        <li ng-hide="appraisalList.aStatus == 3" class="collection-item"><span class="disp-cell"><img alt="" src="../img/icon-edit.png"></span> <span class="disp-cell"><a href="appraisal.html#/edit/{{appraisalList.appraisalId}}">EDIT APPRAISAL</a></span></li>
                         <li ng-hide="appraisalList.aStatus == 3" class="collection-item"><span class="disp-cell"><img alt="" src="../img/ico-delete.png"></span> <span class="disp-cell"><a ng-click="deleteAppraisalByListing(appraisalList.appraisalId)" href="javascript:;">DELETE APPRAISAL</a></span></li>
                          <!-- code added to show shared status -->
								<li class="collection-item"  ><span class="disp-cell"><img src="../img/icon-agent.png" alt=""></span> <span class="disp-cell"><a class="modal-trigger1" ng-click="appraisalList.sharedWithNumberOfAgent>0 && agentListingItem('',appraisalList.appraisalId, 3)"  href="javascript:void(0);" >SHARED WITH AGENTS <big>{{appraisalList.sharedWithNumberOfAgent||0}}</big></a></span></li>
                                <li class="collection-item"  ><span class="disp-cell"><img src="../img/icon-addressbook.png" alt=""></span> <span class="disp-cell"><a class="modal-trigger1" ng-click="appraisalList.sharedWithNumberOfConsumer>0 && consumerListingItem('',appraisalList.appraisalId, 3)"   href="javascript:void(0);" >SHARED WITH CONTACTS <big>{{appraisalList.sharedWithNumberOfConsumer||0}}</big></a></span></li>
                                <li class="collection-item"  ><span class="disp-cell"><img alt="" src="../img/icon-user-no.png"></span> <span class="disp-cell"><a class="modal-trigger1" ng-click="appraisalList.sharedWithNumberOfUnregisteredUser>0 && sharedWithNumberOfUnregisteredUsersListing('',appraisalList.appraisalId, 3)"   href="javascript:void(0);" >NOT REGISTERED <big>{{appraisalList.sharedWithNumberOfUnregisteredUser||0}}</big></a></span></li>
                                <!--<li class="collection-item"><span class="disp-cell"><img alt="" src="../img/icon-unshare.png"></span> <span class="disp-cell"><a ng-click="UnshareItemConform(items.itemId,1);" class="tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Unshare" href="javascript:;" >UNSHARE </a></span></li>-->
								<!-- end of code to show shared status -->
                          
                          <!-- <li class="collection-item"><span class="disp-cell"><img alt="" src="../img/icon-appraised1.png"></span> <span class="disp-cell"><a href="javascript:;">APPRAISAL APPROVED</a></span></li> -->
                          <li class="collection-item"><span class="disp-cell"><img src="../img/icon-share.png" alt=""></span> <span class="disp-cell"><a class=""  href="javascript:void(0);" ng-click="setShareId(appraisalList.appraisalId,3)">SHARE </a></span></li>

                          <li class="collection-item" ng-if="appraisalList.aStatus==3"><span class="disp-cell"><img src="../img/icon-pdf.png" alt=""></span> <span class="disp-cell"><a class=""  href="javascript:void(0);" ng-click="downloadpdf(appraisalList.appraisalId)">DOWNLOAD PDF </a></span></li>

                         <!--  <li class="collection-item" ng-if="appraisalList.aStatus==3"><span class="disp-cell"><img alt="" src="../img/icon-pdf.png"></span><span><a href="javascript:;" class="tooltipped"  ng-click="downloadpdf(appraisalList.appraisalId)" data-delay="50" data-tooltip="DOWNLOAD PDF"><span class="disp-cell">DOWNLOAD PDF</span></a></li> -->
                          <!-- <li class="collection-item"><span class="disp-cell"><img src="../img/icon-print.png" alt=""></span> <span class="disp-cell"><a href="javascript:;">PRINT </a></span></li> -->
                        </ul>
                      </div>
                  <div class="card">
                    <div class="row">
                      
                      <div class="col m12 l12">
                        <div class="card-panel card-panel3 card-panel3-box-shadow">
                          <div class="row">
                            <div class="col s12 m2 l2">
                            <div class="img-box2-wrapper">
                              <div  class="img-box2" ng-if="appraisalList.collectionImages.length > 0" ng-repeat="collectionImg in appraisalList.collectionImages | limitTo : 1">
                          <img src="../valoximage/imageuploaded/{{collectionImg.cImages[0].imageUrl}}" alt="" class="responsive-img">
                          </div>
                          <div ng-if="appraisalList.collectionImages.length == 0 || appraisalList.noOfCollection == 0" class="img-box2" ng-repeat="itemImg in appraisalList.itemImages | limitTo : 1">
                          <img fallback-src="../img/not-found-appraisal.jpg" ng-src="../valoximage/imageuploaded/{{itemImg.itemImages[0].itemImagePath}}" alt="" class="responsive-img">
                          </div>
                          </div>
                             
                          <div ng-if="(appraisalList.collectionImages.length == 0 && appraisalList.itemImages.length == 0)" class="img-box2" ><img src="../img/not-found-appraisal.jpg" alt="" class="responsive-img">
                          </div>
                         
                          </div>  
                            </div>
                            <div class="col m6 s12 l7 border-right">
                              <div class="card-content card-content2"> <span class="card-title"><a href="appraisal.html#/detail/{{appraisalList.appraisalId}}">{{appraisalList.name  | limitTo: 20 }} {{appraisalList.name.length < 20 ? '' : '...'}}</a> <!--<a href="javascript:;" class="heart tooltipped" data-position="bottom" data-delay="50" data-tooltip="Favorite">&nbsp;</a>--> <small>ID#  {{appraisalList.appraisalId}}</small></span>
                                <p ng-bind-html="appraisalList.shortDescription | strLimit : 100 | newLine"></p>
                                <div class="item-components"> Appraisal associated with<br>
                                  <div class="items"><a ng-click="modelCollectionListing(appraisalList.appraisalId,'',appraisalList.aStatus)" href="javascript:;" class="">Collections (<span id="collection_appraisal_app{{appraisalList.appraisalId}}">{{appraisalList.noOfCollection}}</span>)</a> <a href="javascript:;" ng-click="modelItemListing(appraisalList.appraisalId,'', appraisalList.aStatus)" class="">Items (<span id="items_appraisal_app{{appraisalList.appraisalId}}">{{appraisalList.noOfItem}}</span>)</a></div>
                                </div>
                              </div>

                              <div ng-if="appraisalList.aStatus == 3" class="row-grey-gradient appraisal-price">
                                <div class="grey-gradient">
                                  <ul>
                                      <li ng-if="appraisalList.aStatus!=3">
                                    <label>Final Price</label>
                                    ${{appraisalList.finalPrice | number:2}}
                                  </li>
                                    <li ng-if="appraisalList.aStatus==3">
                                      <label >Appraised Value</label>
                                      ${{appraisalList.appraisedValue | number:2}}</li>
                                    <li>
                                      <label>Market Value</label>
                                      ${{appraisalList.marketValue | number:2}}
                                      <small>{{appraisalList.marketValueDate | marketDateFormat}} <i ng-if="appraisalList.marketValueDate">at</i> {{appraisalList.marketValueDate | marketTimeFormat}}</small></li>
                                    <li ng-if="appraisalList.aStatus==3">
                                    <label>Change</label>
                                    <span ng-if="appraisalList.priceChange == 2" class="red-text">{{appraisalList.changePercentage |number:2}}% <i class="fa fa-sort-desc"></i></span>
                                    <span ng-if="appraisalList.priceChange == 1" class="green-text">{{appraisalList.changePercentage |number:2}}% <i class="fa fa-sort-asc"></i></span>
                                    <span ng-if="appraisalList.priceChange == 3" >{{appraisalList.changePercentage |number:2}}%</span>
                                     </li>
                                    <li ng-if="appraisalList.aStatus==3">
                                      <label>Last Appraised</label>
                                      <span ng-if="appraisalList.lastAppraisedDate">{{appraisalList.lastAppraisedDate | myDateFormat}}</span>
                                    <span ng-if="!appraisalList.lastAppraisedDate">--</span> <img class="img2" alt="" src="../img/ribbon.png"></li>
                                    <li><span class="green-label">+50%</span></li>
                                  </ul>
                                </div>
                              </div>



                             <!-- <div class="row-grey-gradient" ng-if="appraisalList.aStatus == 3">
                                <div class="total-box">Last Appraised <b>{{appraisalList.lastAppraisedDate | myDateFormat}}</b></div>
                              </div>  -->




                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Appraisal list row end here--> 
            
            
          </div>
          </div>
          <!-- <div class="paging2"><a onclick="toggle2();" href="javascript:;">Load more..</a></div>--> 
        </div>
      </div>
    </div>
  </div>
  <share></share>
<thankyoushare></thankyoushare>
</div>
<div class="clearfix"></div>

<script>
setTimeout(function(){ 
    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
    }, 500);
</script>
