<!--Footer start here-->
<footer class="bg-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3">
        <h5>Discover</h5>
        <ul>
          <li><a class="anchorLink" href="index.html#offerings" target="_self">Offerings</a></li>
          <li><a class="anchorLink" href="index.html#howitworks" target="_self">How It Works</a></li>
          <li><a class="anchorLink" href="index.html#ourstory" target="_self">Our Story</a></li>
    
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Additional Information </h5>
        <ul>
          <li><a class="" href="mailto:info@Valoux.com">Want to know more</a></li>
          <li><a class="" href="mailto:marketplace@Valoux.com">Join the Marketplace</a></li>
        </ul>
      </div>
      <div class="vis-xs  clearfix"></div>
      <div class="col s6 m3 footer-active" auto-active>
        <h5>Connect with us</h5>
        
        <ul> <li> <a class="" href="javascript:;">Need help? </a></li>
       
        
            <li ng-show="!checkIsloggedIn()"><a target="_self" href="join-consumer.html">Join as a Consumer</a></li>
            <li ng-show="!checkIsloggedIn()"><a target="_self" href="join-agent.html">Join as a Agent</a></li>
  
     </ul>
      
      </div>
      <div class="col s6 m3">
        <h5>About Valoux</h5>
        <li> <a class="" href="javascript:;" target="_self">About us</a></li>
        <li> <a class="" href="javascript:;" target="_self">Contact</a></li>
      </div>
    </div>
    <div class="row copy-foot">
      <p>Copyright 2016 Valoux.com <span class="pipe">&nbsp;&nbsp;|&nbsp;&nbsp;</span> <br>
        <a href="javascript:;" ng-click="privacyModal()">Privacy</a> &nbsp;&nbsp; <a href="javascript:;" ng-click="termsOfUseModal()">Terms of use</a> <span class="social"> <a href="javascript:;"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="javascript:;"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="javascript:;"><i class="fa fa-youtube-play"></i></a>&nbsp;&nbsp;<a href="javascript:;"><i class="fa fa-instagparam"></i></a>&nbsp;&nbsp;<a href="javascript:;"><i class="fa fa-pinterest"></i></a></span> <span class="website-dev">Website developed by: <br>
        <a href="http://www.galaxyweblinks.com/" target="_blank"><img src="../img/gwl-logo.png" width="55" height="26" alt=""/></a></span></p>
    </div>
  </div>
</footer>
<!--Footer end here-->
<!-- Modal for privacy start here -->
<div id="privacy-modal" class="modal modal-login modal-privacy">
  <div class="modal-content">
    <h4>Privacy <a href="javascript:;" class="modal-action modal-close close-btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Close">&nbsp;</a></h4>
    
    <div class="mCustomScrollbar privacy-scroll2 ">
    <div class="row">
      <div class="col s12">
      <h6>Heading 1</h6>      
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <h6>Heading 2</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
      </div>
    </div>
    
    
    </div>
    
  </div>
  
  

</div>
<!-- Modal for privacy end here -->

<!-- Modal for terms of use start here -->
<div id="terms-of-use-modal" class="modal modal-login modal-privacy">
  <div class="modal-content">
    <h4>Terms Of Use <a href="javascript:;" class="modal-action modal-close close-btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Close">&nbsp;</a></h4>
    
    <div class="mCustomScrollbar privacy-scroll2 ">
    <div class="row">
      <div class="col s12">
      <h6>Heading 1</h6>      
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <h6>Heading 2</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
      </div>
    </div>
    
    
    </div>
    
  </div>
  
  

</div>
<!-- Modal for terms of use end here -->
<script>
    $('.dropdown-footer').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
  $('.tooltipped').tooltip({delay: 50});
  $('.mCustomScrollbar').mCustomScrollbar();
</script>