<!-- Modal for Item Price start here -->
<div id="modal-item-price" class="modal modal-component-price">
  <div class="modal-header"> <a href="javascript:;" class="modal-action modal-close close-btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Close">&nbsp;</a> </div>
  <div class="modal-content">
      <form autofocus-form name="ItemPriceForm" ng-submit="ItemPriceForm.$valid && addedUpdateItemPriceAdjustment(store.itemId)" class="form2" novalidate>
          <div class="component-price-main" ng-init="getItemPriceProperties(store.itemId);">
      <div class="component-price"> 
            <span class="head-8">Market Suggested Price: - ${{itemInfo.priceProperty.marketValue |number:2}} * {{store.quantity}}qty = ${{(itemInfo.priceProperty.marketValue * store.quantity)|number:2}}</span>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col s12 divider-row">&nbsp;</div>

            </div>
        
        <div class="row">
          <div class="col s12 m6 l6">
              <span class="head7">PRICE ADJUSTMENT</span>
            <div class="row">
              <div class="col s6 select-dropdown3">
                <input ng-model="itemInfo.priceProperty.generalPriceOperatorValue" ng-keyup="calculateItemFinalPrice()" name="itemGeneralPriceOperatorValue" ng-pattern="/^[-+]?[0-9]*\.?[0-9]?(\d{1,8})$/" type="text" placeholder="Amount" maxlength="10">
                <label class="error" ng-show="ItemPriceForm.$submitted ||  ItemPriceForm.itemGeneralPriceOperatorValue.$touched || (ItemPriceForm.itemGeneralPriceOperatorValue.$dirty && ItemPriceForm.itemGeneralPriceOperatorValue.$invalid)">
                    <label class="error-msg-form" ng-show="ItemPriceForm.itemGeneralPriceOperatorValue.$error.pattern">Invalid Amount.</label>
                </label>
              </div>
              <div class="col s6 pert-col">
                <select ng-model="itemInfo.priceProperty.generalPriceAdjustmentType" ng-change="calculateItemFinalPrice();" ng-options="masterAdjustmentTypeObj.value as masterAdjustmentTypeObj.name for masterAdjustmentTypeObj in masterAdjustmentType">
                </select>
              </div>
            </div>
            <label class="label1 head6">Notes <span class="note-txt">(optional)</span></label>
            <div class="row">
              <div class="col s12 col-pdnone">
                <textarea ng-model="itemInfo.priceProperty.generalPriceAdjustmentNotes" class="materialize-textarea textarea-2" placeholder="Enter here"></textarea>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6 brand-adj"> <span class="head7">BRAND ADJUSTMENT</span>
            <div class="row">
              <div class="col s6 select-dropdown3">
                <input ng-model="itemInfo.priceProperty.brandPriceOperatorValue" ng-keyup="calculateItemFinalPrice()" name="itemBrandPriceOperatorValue" ng-pattern="/^[-+]?[0-9]*\.?[0-9]?(\d{1,8})$/" type="text" placeholder="Amount" maxlength="10">
                <label class="error" ng-show="ItemPriceForm.$submitted ||  ItemPriceForm.itemBrandPriceOperatorValue.$touched || (ItemPriceForm.itemBrandPriceOperatorValue.$dirty && ItemPriceForm.itemBrandPriceOperatorValue.$invalid)">
                    <label class="error-msg-form" ng-show="ItemPriceForm.itemBrandPriceOperatorValue.$error.pattern">Invalid Amount.</label>
                </label>
              </div>
              <div class="col s6 pert-col">
                <select ng-model="itemInfo.priceProperty.brandPriceAdjustmentType" ng-change="calculateItemFinalPrice();" ng-options="masterAdjustmentTypeObj.value as masterAdjustmentTypeObj.name for masterAdjustmentTypeObj in masterAdjustmentType">
                </select>
              </div>
            </div>
            <label class="label1 head6">Notes <span class="note-txt">(optional)</span></label>
            <div class="row">
              <div class="col s12 col-pdnone">
                <textarea ng-model="itemInfo.priceProperty.brandPriceAdjustmentNotes" class="materialize-textarea textarea-2" placeholder="Enter here"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row purchased-price">
            <div class="col s12 m6 l6">
              <div class="col-l1">
                  <strong>Purchased price <img class="icon-info tooltip" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt." src="../img/icon-info.jpg"/></strong>
                  <input ng-model="itemInfo.priceProperty.purchasePrice" ng-keyup="calculateItemFinalPrice()" name="itemPurchasedPrice" id="itemPurchasedPrice" type="text" class="active" ng-pattern="/^(([0-9]*)|(([0-9]*)\.([0-9]*)))$/" maxlength="15">
                  <label class="error" ng-show="ItemPriceForm.$submitted ||  ItemPriceForm.itemPurchasedPrice.$touched || (ItemPriceForm.itemPurchasedPrice.$dirty && ItemPriceForm.itemPurchasedPrice.$invalid)">
                      <label class="error-msg-form" ng-show="ItemPriceForm.itemPurchasedPrice.$error.pattern">Invalid Number.</label>
                      
                  </label>
              </div>
            </div>
        </div>

      </div>
      <div class="component-price-foot">
        <div class="row">
          <div class="col s12 final-price">
              <button type="submit" class="ok-btn2 waves-effect waves-light tooltipped pull-right" data-tooltip="SUBMIT" data-delay="50" data-position="top"><img src="../img/icon-ok1.png"/></button>
<!--                                        <a href="item-added-successfully.html" target="_parent" class="ok-btn2 waves-effect waves-light tooltipped pull-right" data-tooltip="SUBMIT" data-delay="50" data-position="top">
                    <img src="../img/icon-ok2.png"/></a> -->
                Final Price <span class="price-txt">${{itemInfo.priceProperty.finalPrice|number:2}} * {{store.quantity}}qty = ${{(itemInfo.priceProperty.finalPrice * store.quantity)|number:2}}</span> 
          </div>
        </div>
      </div>
    </div>
   </form>
  </div>
</div>
<!-- Modal for  Component Price end here --> 