  <div class="container" ng-cloak>
    <div class="row">
      <div class="col s12">
        <div class="page-header">
          <h1 class="wow fadeInLeft animated">Registered Successfully!</h1>
                 </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="whitebox1">
        <div class="card-thankyou">
<img src="../img/icon-thankyou-big.jpg"  alt=""/>
<h4>Thank you for registering with Valoux!</h4>
<p>In order to complete your registration, please click on the account activation link sent to: <span class="txt-orange">{{user.emailId}}</span>. In the appropriate field, please enter the activation code sent to: <span class="txt-orange">{{user.mobilePhone}}</span> to complete the process.</p>
<p>If you have not received your confirmation in email or text message within a few minutes,
Please check your Junk/Spam and Clutter Folders or your Update Tab.</p>

<!-- <p>If you have entered any incorrect information, please click below to return to the previous page.</p><br> -->

             <div class="center"> <a class="btn-large btn-large1 waves-effect waves-light" href="index.html">BACK TO HOMEPAGE</a> </div>
          <!-- <div class="center"> <a href="join-consumer.html" class="btn-large btn-large1 waves-effect waves-light">EDIT DETAILS</a> </div> -->
          </div>
        </div>
    
      </div>
    </div>
  </div>


