<footer class="bg-footer">
  <div class="container">
        <div class="row copy-foot">
      <p><span class="copy-foot-left">Copyright 2016 Valoux.com</span>  <span class="social"> <a href="javascript:;"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="javascript:;"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="javascript:;"><i class="fa fa-youtube-play"></i></a>&nbsp;&nbsp;<a href="javascript:;"><i class="fa fa-instagparam"></i></a>&nbsp;&nbsp;<a href="javascript:;"><i class="fa fa-pinterest"></i></a></span> <span class="website-dev">Website developed by: <br>
        <a href="http://www.galaxyweblinks.com/" target="_blank"><img src="../../img/gwl-logo.png" width="55" height="26" alt=""/></a></span></p>
    </div>
  </div>
</footer>