<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<title>Valoux - Valoux is an online data management system, an appraisal and appraiser network, and an insurance delivery platform</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../../css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../../css/admin.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/custom.css" rel="stylesheet">
<!--css for item section-->
<link href="../../css/item.css" type="text/css" rel="stylesheet"/>
<!--css for tooltip-->

<!-- Data table CSS-->
<link href="../../css/jquery.dataTables.css" rel="stylesheet">


<!--  Scripts--> 
<script src="../../js/extLib/jquery-1.12.0.min.js"></script>
<script src="../../js/extLib/materialize.min.js"></script>  
<script src="../../js/extLib/wow.js" type="text/javascript" ></script> 
<script src="../../js/extLib/custom.js"></script>
<script src="../../js/extLib/angular.min.js"></script>
<script src="../../js/extLib/angular-route.js"></script>
<script src="../../js/app/adminstoreapp.js"></script>
<script src="../../js/app/controller/baseController.js"></script>
<script src="../../js/app/service/service.js"></script>  

<script src="../../js/app/directives/BaseDirective.js"></script>
<script src="../../js/app/admin/controller/adminManagement.js"></script>
<script src="../../js/extLib/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="../../js/app/service/masterDataService.js"></script>
<script src="../../js/extLib/datatable/angular-datatables.js"></script>
 <script src="../../js/extLib/datatable/angular-datatables.util.js"></script>
    <script src="../../js/extLib/datatable/angular-datatables.options.js"></script>
    <script src="../../js/extLib/datatable/angular-datatables.instances.js"></script>
    <script src="../../js/extLib/datatable/angular-datatables.factory.js"></script>
    <script src="../../js/extLib/datatable/angular-datatables.renderer.js"></script>
    <script src="../../js/extLib/datatable/angular-datatables.directive.js"></script>
<!--  Scripts--> 
<script src="../../js/extLib/materialize.min.js"></script>  
<script  type="text/javascript" src="../../js/extLib/wow.js"></script> 
<script  type="text/javascript" src="../../js/extLib/smoothscroll.js"></script>

<script src="../../js/extLib/custom.js"></script>


  <!--error handling-->
<script src="../../js/extLib/stacktrace-0.5.0.min.js"></script>
<script src="../../js/app/error-handling.js"></script>

</head>
<script>
    app.requires.push('valouxApp', 'ngRoute')
</script>
<body ng-app="valouxApp" ng-controller="BaseController">
<!--Navigation start here-->
<header-admin></header-admin>

<div ng-view>

</div>

<div class="clearfix"></div>
<!--footer starts-->
<footer-admin></footer-admin>
<!--footer ends--> 
<div class="loader-overlay" ng-show="fullPageBlockLoading" loading><span class="loader-inner">Processing<div class="clearfix"></div><img src="../../img/loader-1.gif"></span></div>

</body>
</html>
