.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    z-index: 9;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -15px;
    background-color: #ffffff;
    max-height: 200px;
    overflow: auto;box-shadow: 0 0 30px rgba(152, 130, 126, 0.2); -webkit-box-shadow: 0 0 30px rgba(152, 130, 126, 0.2);
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #666666;
    margin-bottom: 0px;
  border-bottom: 1px solid #ddd; float: left; width: 100%;
}
.angucomplete-dropdown .angucomplete-row.ng-scope:nth-child(3){ float:left; width: auto; background: #ff6100 !important;    border: medium none;    border-radius: 2px;    color: #fff !important;    height: auto !important;    line-height: 26px;    margin-bottom: 10px; padding-left:8px; padding-right: 8px;}
.angucomplete-dropdown .angucomplete-row.ng-scope:nth-child(3) .angucomplete-title{ color:#fff;}
.angucomplete-dropdown .angucomplete-row.ng-scope:nth-child(3):hover{  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 0 0 3px #ff6100;    color: #fff; }
.angucomplete-title{ color:#293249; padding: 2px 0px; line-height: 14px; }

.angucomplete-selected-row, .angucomplete-row:hover {
    background-color: #f3f3f3;
    color: #666;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    height: 34px;
    width: 34px;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}