/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
@font-face {
    font-family: 'opensans';
    src: url('../fonts/open-sans/OpenSans-Regular_0.eot');
    src: url('../fonts/open-sans/OpenSans-Regular_0.eot?#iefix') format('embedded-opentype'),
         /*url('../fonts/open-sans/OpenSans-Regular_0.woff2') format('woff2'),*/
         url('../fonts/open-sans/OpenSans-Regular_0.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular_0.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Regular_0.svg#OpenSans-Regular_0') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'montserratblack';
    src: url('../fonts/montserrat-black/montserrat-black-webfont.eot');
    src: url('../fonts/montserrat-black/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-black/montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-black/montserrat-black-webfont.woff') format('woff'),
         url('../fonts/montserrat-black/montserrat-black-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-black/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat-regular/Montserrat-Regular.eot');
    src: url('../fonts/montserrat-regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    /*     url('../fonts/montserrat-regular/Montserrat-Regular.woff2') format('woff2'),*/
         url('../fonts/montserrat-regular/Montserrat-Regular.woff') format('woff'),
         url('../fonts/montserrat-regular/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans-light/opensans-light_0-webfont.eot');
    src: url('../fonts/open-sans-light/opensans-light_0-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/open-sans-light/opensans-light_0-webfont.woff2') format('woff2'),
url('../fonts/open-sans-light/opensans-light_0-webfont.woff') format('woff'),
url('../fonts/open-sans-light/opensans-light_0-webfont.ttf') format('truetype'),
url('../fonts/open-sans-light/opensans-light_0-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


h2, h3, h4{ margin:0px; padding:0px;}

 
.icon-block {  padding: 0px 15px;}
.icon-block .material-icons {	font-size: inherit;}


body { width: 100% !important; font-weight:400;    font-family: 'opensans'; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; color: #000; font-size:15px;}


.tnb{font-family: 'Montserrat-Regular';background-color: transparent !important;   height: auto; position: absolute; line-height:normal; padding:15px 5px 10px; box-shadow:none; -webkit-box-shadow:none;}
.tnb .container{ width:1450px;}
.tnb .brand-logo{ padding:0px 15px 0px 0px;    position: relative !important;     transform: none; -webkit-transform:none;}
.tnb ul{  padding: 0px 0px;margin-top: 5px;}
.tnb ul a{ border-radius: 0px;   line-height: 27px;     color: #fff;    font-size:14px;    padding: 0px 20px;}
.tnb ul a:hover{ color:#FF6100;}
.tnb ul li:hover, .tnb ul li.active { background:none;color:#000;}
.tnb  ul li:last-child  {    border-right: 0px none;}
.tnb ul li a.btn{ height: auto !important;border-radius:4px; font-weight: normal;/*text-shadow:-1px 2px 0px rgba(0,0,0,0.3);*/}
.tnb ul li a.btn-orange{height: auto !important;border:none;line-height: 32px; background:#FF6100 !important; color:#fff; margin-left:15px; border-radius:2px; width:94px;}
.tnb ul li a.btn-orange i { display:inline-block;}
.tnb ul li a.btn-orange:hover{ color:#fff;/*background:#D75100 !important;*/ box-shadow: 0 0 0 1px rgba(255,255,255,1), 0 0 0 3px #FF6100;} 
.tnb .input-field{ background:#000000; border-radius:12px; border:2px solid #333333;font-size: 12px;width: 190px;    line-height: 24px; }
.tnb .input-field input[type="search"]{ margin-bottom: 0px;  padding-left: 2rem;  font-size: 12px; color:#fff;width: calc(100% - 2rem);border-radius:10px;}
/*.tnb .input-field input[type="search"] + label{ left: auto;    right: .5rem; }*/
.tnb .input-field input[type="search"]:focus{ background:#006699; color:#fff;}
.tnb .input-field input[type="search"] + label{  left: 0.3rem;}
.tnb .input-field input[type="search"]:focus + label i{color: #fff; top: -5px;}
.tnb .input-field i{ line-height:normal; height:auto; font-size: 1.5rem;color:#116FA6;}
.input-field input[type="search"]:focus + label i, .input-field input[type="search"]:focus ~ .mdi-navigation-close, .input-field input[type="search"]:focus ~ .material-icons{color: #fff; top: 0px;font-size: 1.5rem !important;}
.input-field input[type="search"] ~ .mdi-navigation-close, .input-field input[type="search"] ~ .material-icons{font-size: 1.5rem !important;}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {    background-color: #fff !important;    background-image: none !important;    color: rgb(0, 0, 0);}


.header1{ background:#293249 !important;  box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.2);    position: fixed;    transition: all 0.3s ease-in-out 0s;}


nav .button-collapse{ color:#ff6100;}
nav .button-collapse:hover{ color:#F25B00;}

.parallax-container{ height:860px;   margin-bottom: 67px;}
.parallax-container1 .section{padding-top: 225px; }
.parallax-container1 h1{ color:#fff; font-size:2.625rem;    font-family: 'montserratblack'; line-height:60px; text-shadow:2px 2px 4px rgba(0,0,0,.4); margin:6.3rem 0 0.18rem;  max-width: 600px;}
.parallax-container1 p{ font-size: 1.2rem; font-weight:500; color:#fff;   margin-top: 0px;max-width: 550px;}
.parallax img{ display:block;-webkit-transform:none; left:0%; transform:none;  bottom: auto;}
.parallax-container1 .row .col{ padding: 0rem;}
.parallax-container1 .container{ max-width:1200px;}
.parallax-container1 .row .col.s3{ margin-left:8.33333%;}
.parallax-container1-bottom ul{ margin:0px;}
.parallax-container1-bottom{ background:rgba(0,0,0,.30); float:left; bottom:0px; line-height:70px;   width: 100%; position: absolute;}
.parallax-container1-bottom li{ width:25%; float:left; text-align:center; color:#fff; font-size:1rem;font-family: 'Montserrat-Regular';font-weight:400;}

.parallax-container2{ margin-bottom:0px;}
.parallax-container2 h3{ color:#fff;}
.parallax-container2 h5{ font-size:1rem; font-weight: normal; line-height:22px;width: 52%; margin-left:auto; margin-right:auto;}
.parallax-container2 .section{padding-top: 70px;}
.parallax-container2 .marb{ margin-bottom:100px;}

.parallax-container-bottom{ background:#EBEBEB;   height: auto;    margin-bottom: 0px;}
.parallax-container-bottom h3{font-size:1.75rem;    font-family: 'Montserrat-Regular'; font-weight:normal; color:#393746;   margin-bottom: 35px}
.parallax-container-bottom p{font-size:1rem; color:#666666; line-height:24px; margin: 25px auto auto;max-width: 690px;}
.parallax-container-bottom .section{  padding-bottom: 4rem;    padding-top: 4rem;}



.container{ width: 1200px;}
a{transition: all .3s ease-in-out;	-moz-transition: all .3s ease-in-out;	-webkit-transition: all .3s ease-in-out; color: #212746;}
a:hover, a:focus{transition: all .3s ease-in-out;	-moz-transition: all .3s ease-in-out;	-webkit-transition: all .3s ease-in-out; color: #ff6100;}
a.plus{ float:right; border:1px solid #FE9700; font-size:30px; border-radius:100%; padding:2px; line-height:28px; width:34px; text-align:center; margin-right:0px !important;}
a.plus:hover{ border:1px solid #fff !important; color:#fff !important;}

.card-orange{padding: 10px;color:#fff; background: #FFD2B7 url(../img/bg-orange.jpg) repeat-x left top; background-size:cover; max-width:270px; box-shadow:0px 0px 6px 6px rgba(0,0,0,.30); border-radius:0px;}
.card-orange .card-title{ margin-bottom: 20px;display: block;    font-family: 'montserratblack';color:#fff; font-size:1.875rem;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.4); font-weight:600;}
.card-orange .card-content p{ color:#fff; margin: 0px 0px 15px;}
.card-orange .card-content{    border: 1px solid rgba(255,255,255,.25); padding:10px 20px 20px;}
.card-orange label{ color:#fff; font-size: 1.125rem;}
.card-orange .btn{  font-size:1.125rem; width:100%; background:#fff url(../img/arrow.png) no-repeat 160px 23px; color:#393746; font-weight:400;    font-family: 'Montserrat-Regular';}
.card-orange .btn:hover{ background:#393746 url(../img/arrow-hover.png) no-repeat 160px 23px; color:#fff;}
.card-orange .card-content p:last-child{ margin-bottom:0px;  margin-top: 30px;}

.filled-in[type="checkbox"]:not(:checked) + label::after{ background-color: #fff;   border: 2px solid #9E9E9E;}
.filled-in[type="checkbox"]:checked + label::after{    background-color: #fff;    border: 2px solid #9E9E9E;}


h2{  color:#3A3746; font-size:2.250rem; padding-bottom:25px; margin-bottom:30px;  font-family: 'montserratblack'; border-bottom:1px solid #D6D6D6;}
.head2-no-bord{ border:none;}
.head2{ color:#fff; border:none; margin-bottom:0px; padding-bottom:0px;}
h2 small{ display:block; font-size:15px;}
h3{color:#3A3746; font-size:2.250rem;    font-family: 'montserratblack'; }
h4{ color:#006699;   font-size: 28px;}
h4 span{ color:#666666;  font-size: 20px;}
.heading4{ color:#fff; font-size: 38px;text-shadow:1px 1px 0px rgba(0,0,0,0.65);}
.heading4 small{ color:#666666; font-size:20px;}
h5{ color:#fff;  font-size: 24px;}
h6{ font-size:1.25rem; font-weight: bold; color:#393746;}
.head1{ display:inline-block; background:#293249; color:#fff; line-height:37px; font-size:1.125rem;   margin-bottom: 20px;    padding: 0px 15px;    margin-left: -15px;}

.txt12{ font-size:12px;}
.small-text{ font-size:12px; display:inline-block; line-height:normal; vertical-align: bottom;}



.bg-white{ background:#fff; border-radius:10px; padding:70px 0px; width:100%; float:left; position:relative;}
.bg-white h3{ margin-bottom:55px;}
.bg-white .col{  padding: 0rem 1.5rem;}

.how-it-pics{ border:1px solid #CCCCCC; width: 100%;}

.tabs1{ display: inherit; background:none; border-bottom:none;margin-left: 30px;margin-top: 40px;}
.tabs1 .tab{ width:100% !important; height:auto; margin-bottom: 60px;  padding-left: 70px;}
.tabs1 .indicator{ left:0px !important; right:0px !important; display:none;}
.tabs1 .tab a{ text-align:left;transition: all .3s ease-in-out;	-moz-transition: all .3s ease-in-out;	-webkit-transition: all .3s ease-in-out;}

.tabs1 .tab a:hover h4, .tabs1 .tab a.active, .tabs1 .tab a.active h4{ color:#FF5F00;}

.tabs1 .tab a h4{ font-size:1.25rem; color:#393746;font-family: 'Montserrat-Regular';transition: all .3s ease-in-out;	-moz-transition: all .3s ease-in-out;	-webkit-transition: all .3s ease-in-out;}
.tabs1 .tab a p{white-space: normal;line-height: normal; font-size:15px; color:#666;   text-transform: none; margin-top: 5px;}
.tabs1 .tab a span{    font-family: 'Montserrat-Regular'; font-size:1.25rem; display:inline-block; background:#FFFFFF; border:1px solid #D6D6D6; border-radius:100%; line-height:48px; width:48px; text-align:center; color:#FF6100;position: absolute;    left: 0px;}
.tabs1 .tab a.active span{ background:#FF6100; border:1px solid #FF6100; color:#fff;}
.tabs1 .tab a:hover{   color: #ff5f00;}




.card1{ border-radius:0px;box-shadow: none; padding: 0px; background:none;  text-align: center;  margin: 0rem;}
.card1 .card-image .card-title{ position:relative; color:#FF6100; font-size:1.25rem; padding:10px;  display: block;  font-weight: 500; margin-top: 0px;    font-family: 'Montserrat-Regular';}
.card1 .card-content{ font-size:12px; padding:0px 5px 20px; border-bottom: none; border-radius:0px;}
.card1 .card-content p{ font-size:1rem;  color:#666666; margin-left: auto;    margin-right: auto;    max-width: 290px;}
.card1 .thumb1{ display:inline-block; width:100%; text-align:center;}
.card1 .card-image img{ width:auto; display: inline;}
.card1 .card-image .card-title a{ color:#FF6100;}
.card1 .card-image .card-title a:hover{ color:#000;}

.row2{ margin-bottom:80px;}

.blockquote1{ background:#fff; padding:20px 30px; border:none;  margin: 0px 0px 25px; line-height:28.8px; color:#393746;font-size: 1.125rem;}
.blockquote1 b{font-size:1rem; font-family: 'montserratbold'; display:block; margin-top: 10px;}
.blockquote2{ text-align:center; background:none; border:1px solid #fff; color:#fff;}
.blockquote2 p{ display:block; font-size:1.675rem;    font-family: 'montserratblack';font-weight:700; line-height:33px;margin-top: 0px;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);margin-bottom: 14px; }
.blockquote2 a{ color:#fff; border-bottom:1px solid #fff; font-size:1rem;font-family: 'montserratbold';  display: inline-block; margin-bottom: 11px;}
.blockquote2 a:hover{ border-bottom:1px solid transparent;}
 


.bg-bottom{ float:left; width:100%; background:#EBEBEB; background-size:100% 100%; border-radius: 0px; border-top:1px solid #DDDDDD;}

.btn{ box-shadow:none; -webkit-box-shadow:none;}


a.btn-large1{ background:#FF6100; line-height:51px; color:#fff;border-radius: 2px;  text-transform: none; padding: 0rem 3.5rem; font-size:1.125rem;    font-family: 'Montserrat-Regular';   margin-top: 0.5rem; box-shadow:none; -webkit-box-shadow:none;}
a.btn-large1:hover{ background:#FF6100; box-shadow: 0 0 0 1px rgba(255,255,255,1), 0 0 0 3px #FF6100;}

.disp-cell{ display:table-cell; padding-right:10px;vertical-align: middle;}




.row-marb0{ margin-bottom:0px;  padding-bottom: 70px;}
.vis-xs{ display:none;}

.graybox{ background:#D7CCCA; float:left; width:100%; padding:45px 0px;}



.radio-box p{ top:-15px;margin-top: 0px;  margin-top: -10px;}
.radio-box [type="radio"] + label::before, .radio-box [type="radio"] + label::after{  left: -10px;}
.radio-box [type="radio"]:not(:checked) + label, .radio-box [type="radio"]:checked + label{padding-left: 20px;}
.inp-cal{ background:url(../img/icon-cal.png) no-repeat right center;}
.radio-box [type="radio"]:checked + label::after{ background-color:#ff6100;    border: 2px solid #ff6100;}
.input-field .label1{left: 0rem; color:#666666;}
.input-field label{ color:#666;}
.input-field{ float:left; width:100%;}
.select-wrapper + label{ font-size: 1rem;}
.select-wrapper input.select-dropdown{ font-size:12px;}

.box3 [type="checkbox"] + label{ padding-left: 30px;}
.filled-in[type="checkbox"] { top:10px;}
.filled-in[type="checkbox"]:not(:checked) + label::after{ top: 3px;}
.filled-in[type="checkbox"]:checked + label::after{top: 3px;}
.filled-in[type="checkbox"]:checked + label::before{top: 3px;    border-color: rgba(0, 0, 0, 0) #d75100 #d75100 rgba(0, 0, 0, 0);}

[type="checkbox"] + label{padding-left: 30px;}

input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){ border-bottom:1px solid #293249 !important;box-shadow: 0px 1px 0px 0px #293249 !important;}
input.invalid[type="text"], input.invalid[type="text"]:focus, input.invalid[type="password"], input.invalid[type="password"]:focus, input.invalid[type="email"], input.invalid[type="email"]:focus, input.invalid[type="url"], input.invalid[type="url"]:focus, input.invalid[type="time"], input.invalid[type="time"]:focus, input.invalid[type="date"], input.invalid[type="date"]:focus, input.invalid[type="datetime-local"], input.invalid[type="datetime-local"]:focus, input.invalid[type="tel"], input.invalid[type="tel"]:focus, input.invalid[type="number"], input.invalid[type="number"]:focus, input.invalid[type="search"], input.invalid[type="search"]:focus, textarea.materialize-textarea.invalid, textarea.materialize-textarea.invalid:focus{ border-bottom:1px solid #E5302B !important;box-shadow: 0px 1px 0px 0px #E5302B !important;}
.input-field label.active{    color: #293249 !important; font-weight:600 !important; font-size:1rem;}
.copy-foot br{ display:none;}
.map{ float:left; width:100%;}
.map img{ width:auto;}
.checkbox-box1  label{  left: 0rem;}
.dropdown-content li.active.selected{ color:#ff6100;}
.dropdown-content li > a i{ font-size:12px; min-width:18px; display:inline-block;}
.dropdown-content li > a{   padding-left: 10px; display:block !important;}
.dropdown-content li > a, .dropdown-content li > span{ color:#293249 !important; font-family: 'opensans';   display: inline-block;  font-size: 14px;  padding: 5px 17px;}
.dropdown-content li.active.selected{ background:#f3f3f3;}
.dropdown-content li > a:hover{ color:#ff6100 !important;}

.store-inpt{ margin-top:20px;}

/* Date picker*/


.error-msg {    background-color: #fcf4bc;    margin-bottom: 30px;   color: #be5e28;    display: block;    font-size: 1rem; padding:10px 20px;}
.error-msg i{font-size: 2rem; }
.success-msg {    background-color: #dff2bf;  margin-bottom: 0px;    color: #4f8a10;    display: block;    font-size: 1rem;     padding:10px 20px;}
.success-msg i{font-size: 2rem; }

input:not([type]).invalid+label:after, input:not([type]):focus.invalid+label:after, input[type=text].invalid+label:after, input[type=text]:focus.invalid+label:after, input[type=password].invalid+label:after, input[type=password]:focus.invalid+label:after, input[type=email].invalid+label:after, input[type=email]:focus.invalid+label:after, input[type=url].invalid+label:after, input[type=url]:focus.invalid+label:after, input[type=time].invalid+label:after, input[type=time]:focus.invalid+label:after, input[type=date].invalid+label:after, input[type=date]:focus.invalid+label:after, input[type=datetime-local].invalid+label:after, input[type=datetime-local]:focus.invalid+label:after, input[type=tel].invalid+label:after, input[type=tel]:focus.invalid+label:after, input[type=number].invalid+label:after, input[type=number]:focus.invalid+label:after, input[type=search].invalid+label:after, input[type=search]:focus.invalid+label:after, textarea.materialize-textarea.invalid+label:after, textarea.materialize-textarea:focus.invalid+label:after{width: 200px; font-size:12px; right: auto; left:0px; }
.input-field{margin-top: 1.50rem;}


ul.dropdown-content1{ margin-top:0px;  padding: 0px;width: 170px !important;  padding: 0px 0px 5px;}
.dropdown-content1 li{ min-height:0px;  margin-bottom: 0;}
a.dropdown-button1{ background:none;  padding: 0 0rem; text-transform: inherit;line-height: 31px;}
a.dropdown-button1:hover{ background:none; box-shadow:none; -webkit-box-shadow:none; color:#ff6100;	}
a.dropdown-button1 i{ height: auto;    line-height:normal;}
.dropdown-content1 li > a:hover{ color:#293249;}
i.right{ margin-left: 0px; color:#ff6100;}



.img1{ border:1px solid #A4A4A4;  max-width: 100%;}


.img2{ vertical-align:middle; display:inline-block; margin-left:10px;}



.modal .modal-content {    padding: 24px 24px 0px;}
.modal-content h4{ font-size:1.5rem; padding-left: 15px; color:#263246; background: url(../img/header-bottom.png) no-repeat bottom  center; background-size:100%; padding-bottom:35px;margin-bottom: 20px; font-weight:bold;  margin-top: 5px;}
.modal-content h4 a{ float:right;}
.modal-content h5{ text-align:center; font-size:2rem; font-family: 'montserratblack'; color:#393746; }
.modal-content .input-field .prefix{ color:#FF6100;top: 10px; font-size: 2.3rem;}
.modal-content .input-field .prefix ~ label{font-size: 1.14rem;}
.modal-content form{ padding:0px 50px !important;}
.modal-content .form1{ width:315px;  margin: auto;}
.modal-content .form1 form{ padding: 0px !important;}
.modal-content .form1 .modal-footer{ margin-bottom: 50px;    padding-left: 55px;   padding-right: 10px !important;}
.modal-content .form1 .modal-footer  .btn1{ width:100%;text-align: center;}
.modal-content .form1 input[type="email"]::-moz-placeholder           { color: #666666; font-size:1.25rem;}
.modal-content .form1 input[type="email"]:-ms-input-placeholder       { color: #666666;  font-size:1.25rem;}
.modal-content .form1 input[type="email"]::-webkit-input-placeholder  { color: #666666;  font-size:1.25rem;} 

.modal .modal-footer .btn1{ border-radius: 2px; background:#FF6100;font-family: 'Montserrat-Regular'; font-size:1.125rem; color:#fff; line-height:51px; padding:0px 50px;}
.modal .modal-footer .btn1:hover{box-shadow: 0 0 0 1px rgba(255,255,255,1), 0 0 0 3px #FF6100;}
.modal .modal-footer{  padding-bottom: 0px !important;    padding-left: 130px;    padding-right: 50px !important;    padding-top: 0 !important;margin-bottom:60px; background:none;}
.modal .modal-footer .forgot small{ display:block; font-size: 13px;}
.modal .modal-footer .forgot{ display:inline-block; margin:0px 0px 0px 100px; font-size:1rem; vertical-align: middle; text-align: right;}
.modal .modal-footer .forgot a{ color:#393746; text-decoration: underline;  font-size: 1rem; }
.modal .modal-footer .forgot a:hover{ color:#FF6100;}
.modal .modal-footer .signup{ display:inline-block;  float: right; margin-top: 5px;  margin-right: 35px;  text-align: right;}
.modal .modal-footer .signup a{ color:#393746; text-decoration: underline;  font-size: 1rem;}
.modal .modal-footer .signup a:hover{color:#FF6100;}
.modal .modal-footer .signup small{ display:block; font-size: 13px;}

.modal .modal-footer2 {    padding-left: 50px;    padding-right: 50px !important; margin-top:20px; text-align:center;  margin-bottom: 30px;}

.modal-login{width:750px; background:#fff; max-height:100%; overflow:visible;}
.modal-content a.close-btn{ background:url(../img/close.png) no-repeat left top; float:right; height:21px; width:20px;transition: none;	-moz-transition:  none;	-webkit-transition:  none;}
.modal-content a.close-btn:hover{ background-position:bottom left;}
.modal-login .input-field{ margin-top: 1.5rem;}

.modal-forgot{ width:490px;}
.modal-forgot .modal-forgot{ font-size: 1.5rem;}
.modal-forgot .modal-content form{  padding: 0px !important;}
.modal-forgot .modal-content h5{font-size: 1.5rem;}

.material-tooltip{ padding:8px; font-size:12px;min-height: inherit;line-height:100%; }

a.not-found{ position:absolute; right:10px; top:13px; font-size: 12px;}
.gray-accord{ background:#f3f3f3; float:left; width:100%;padding: 10px 20px 20px;border-radius: 4px;}
.gray-accord .input-field {    margin-top: 1rem;}
.row-hide{ display:none;}
.font-montserrat-regular{font-family: "Montserrat-Regular";}
.txt20{font-size: 1.125rem;}
.material-tooltip{ margin-top:0px !important; padding:6px;}
.form-padlr {    padding: 0 50px !important;}

.tnb ul a.join-btn { padding-right:5px;}
.join-con.dropdown-content li > a, .join-con.dropdown-content li > span { padding:0 10px;}
ul.dropdown-content1.join-con { padding:15px; width:198px !important;    left: auto !important;right: 0px;}

.login-scroll{ max-height: 200px;}

.side-nav{ display:none;}
#sidenav-overlay{ display:none;}
.lean-overlay{ top: auto !important;}

/* Queries starts here*/
@media(max-width: 1280px) {
	.tnb .container {    width: 98%;}
	.parallax-container2 .parallax {    left: -250px !important;}
	
		.parallax-container1 .container{  width: 90%;}
		.container{  width: 90%;}

}
@media(max-width: 1024px) {
	.tnb{padding:15px 5px 10px;}
	.tnb .container {   width: 95%;}
	.container {    width: 95%;}
	.brand-logo img{ max-width:150px;}
	.tnb ul a{  padding: 0px 10px;}
	/*.card-panel1 h1{font-size:31px;}*/
.card-orange{ padding:7px;}
	.card1{ margin-bottom: 0px;}
	.card2 .card-action{bottom:0px;}
	.bg-bottom{padding:40px 0px;}
	.tabs1{  margin-left: 0px;}
	.tabs1 .tab{  margin-bottom: 30px;}
	
	.page-header{ margin-left: 55px;}
	.box1{margin-left: 55px;}
	.blockquote1{  min-height: 195px;}
	.blockquote2{ min-height: 195px;}
	
	.parallax-container1 h1{  max-width: 560px; line-height: 50px; margin: 4.3rem 0 0.18rem;}
	.parallax-container1 h5{  max-width: 430px;}
	.parallax-container1 .parallax{ left: -410px !important;}
	.parallax-container2 .parallax{ left: -380px !important;}
	.parallax-container1 .container{  width: 90%;}
	.parallax-container1 p{max-width: 558px;}
	
	.card-orange .btn{ background-position: 165px 23px;}
	.card-orange .btn:hover{  background-position: 165px 23px;}
	.card-orange .card-content{   padding: 10px 10px 20px;}
	.box1 p {font-size:1rem;}

	
	.card-panel3{padding: 0px 20px 0px 50px;}
	
	.sub-navbar li{  margin-left: 7px;    margin-right: 7px;}
	.page-header2{ margin-left:0px;}
	.card-orange .card-title{  font-size: 1.72rem;}
.modal.modal-privacy { max-height:90%;}
	
	}
	
	@media(max-width: 992px) {
		.container {    width: 94%;}
		.tnb{  padding: 10px 5px;}
		.tnb a.button-collapse i{  height: 44px;    line-height: 44px;}
	.tnb .brand-logo{  padding-left: 20px;  left: 0;    margin-left: 0;}
		.tnb ul li a.btn-orange{width: 91%;margin: 0 8px; display:inline-block;}

		.side-nav{padding-top:10px !important;display: block;}
		.side-nav a{ height:auto; line-height: 40px !important; color:#222847 !important;  padding: 0px 15px !important;}
		.side-nav a.active{background:#FF6100 !important; color:#fff !important; }
		.side-nav a:hover{ color:#FF6100 !important; background:#fff !important; background-image:inherit !important;}
		.side-nav a.active:hover{ background:#ff6100 !important; color:#fff !important;}
		.side-nav li.close-top{    border-bottom: medium none !important;   height: 20px;}
			#sidenav-overlay{ display: block;}
		.side-nav li.close-top a.close-btn{ background:url(../img/close.png) no-repeat left top !important; float:right; height:12px !important; width:10px !important;transition: none;	-moz-transition:  none;	-webkit-transition:  none; background-size:40% !important;}
.side-nav li.close-top a.close-btn:hover{ background-position:bottom left !important;}
		
		.side-nav li{ border-bottom:1px solid #ddd;    padding: 0px;}
		.side-nav li a.btn-orange{ color:#fff !important; margin-top:10px !important;   margin-bottom: 10px !important;margin-bottom: 15px;height: auto !important;border:none;line-height: 32px; background:#FF6100 !important; margin-left:10px !important; border-radius:4px;}
		.side-nav li a.btn-orange:hover{ color:#fff;background:#D75100 !important;}
		.side-nav li li{ padding-left:20px;}
		.side-nav li li a:hover{ background:none !important; color:#ff6100 !important;}
		.side-nav li  li a.active{ color: #ff6100 !important; background:none !important;}
		/*.side-nav li:last-child, .side-nav li:nth-child(5){border-bottom:none;}
		.side-nav li:hover{ background:#FF6100 !important;}*/
				/*.side-nav li:hover a{ color:#fff !important;}*/
				.side-nav li:last-child:hover, 	.side-nav li:nth-child(5):hover{ background:none !important; /*border-bottom:none;*/}
				.side-nav .input-field{ background:#fff;  border-radius: 4px; line-height: 34px; border:none; margin-top:10px; width:100%;}
				.side-nav .input-field label{top: 4px;}
				.side-nav  .input-field input[type="search"]{  border-radius: 4px;  border: 1px solid #dddddd;}
				.side-nav .input-field input[type="search"]:focus{ background:#293249; color:#fff; border:none;}
				.side-nav .input-field input[type="search"]:focus + label i, .side-nav .input-field input[type="search"]:focus ~ .mdi-navigation-close, .side-nav .input-field input[type="search"]:focus ~ .material-icons{    top: 4px; color:#fff;}
				.side-nav .input-field input[type="search"] + label{  left: 0.4rem;top: 5px;}
				
	
.dashboard li:nth-child(5):hover{ border-bottom:1px solid #dddddd !important; background:#ff6100  !important;}
.dashboard  li:nth-child(5){ border-bottom:1px solid #dddddd !important;}
.dashboard li:last-child:hover{ background: #ff6100 none repeat scroll 0 0 !important; color:#fff;}
		
		
		.card-panel1{  min-height: 165px;}
		.card-panel1 h1 {   /* font-size: 23px;*/  margin-top: 0px;line-height: normal;}
	
		.parallax-container1 h1{ line-height: normal;margin: 3.3rem 0 0.18rem;}
		.parallax-container1 .row .col{ padding:inherit;}
		.parallax-container1 .container{ width:92%;}
		.parallax-container1-bottom .container{ width:100%;}
		.parallax-container1-bottom li{font-size: 0.85rem;}
	
		.bg-white{  padding: 40px 0px;}
		/*.bg-white h3 {    margin-bottom: 15px;}*/
		.tabs1{ margin-top:0px;}
		.tabs1 .tab {    margin-bottom: 20px;}
		.bg-white .col {    padding: 0rem 0.5rem;}
		.tabs1{ white-space: normal;}
		.tabs1 .tab a span{  width: 38px;line-height: 38px;}
		.tabs1 .tab{  padding-left: 50px;}
		.tabs1 .tab a h4{ font-size: 19px;}
		.parallax-container2 .marb {    margin-bottom: 120px;  }
		.parallax-container2 .parallax{   right: 0px;  left: -660px !important;}
		.parallax-container2 h5{ width: 90%;}

		.page-header {    margin-left: 0px;width: 100%;}
		.box1 {    margin-left: 0px; width:100%; padding: 0px 20px;}
		.box2{ background-position: left 200px; background-image:none;}
		.box3{ background-image:none; padding: 1.75rem 0rem 4rem;}
		.head1{  margin-left: -20px;}
		.blockquote2 {    min-height: 194px;    padding-top: 40px;}

		.parallax-container1 h5{  max-width: 90%;}
		.card1 .thumb1{ width: auto;   min-height: 200px; margin-bottom: -40px;}
		.card1 .card-image img{ max-width: 100px;}
		.row2 {    margin-bottom: 20px;}
	.parallax-container1 .parallax{   left: -250px;}
	.page-header{padding-left: 20px;}
	.box1 p{margin-bottom: 10px;}

	.map{ margin-top: 15px;}
	.row-marb0{  padding-bottom: 40px;}
	
	.graybox{ margin-top: -19px;}
	nav .button-collapse{   top: -4px;}
	.tnb ul{ margin-top:0px;}

	
	.modal-login {    width: 700px;}
.drag-target{   z-index: 997;}

.parallax-container1 p br{ display:none;}
.parallax-container1 p{max-width: 425px;}

				}
				
@media(max-width: 767px){
	.modal{ width:97%; overflow:auto; max-height: 90%;  top: 5% !important;}
.modal.modal-login { max-height:90%;}
.modal-content form {    padding: 0px 10px !important;}
.modal .modal-footer{ padding-left: 80px;}
.modal .modal-footer .signup{ margin-right: 0px;}
}
@media(max-width: 735px){
 .card-orange .btn{ background-position: 140px 23px;}
 .card-orange .btn:hover{  background-position: 140px 23px;}
 .card-orange .card-content {    padding: 10px 7px 20px;}
 .parallax-container1 p {    max-width: 375px;}

}

				
@media(max-width: 600px) {
	/*.card-panel1 h1{  font-size: 18px;}*/
	.parallax-container1 .container {    width: 80%;}
	.parallax-container1 .section {    padding-top: 105px;}
	.parallax-container1-bottom .container {    width: 100%;}
	.parallax-container1-bottom{ padding:20px; line-height: normal;}
	.parallax-container2{ height:auto;}
	.card-orange{  margin-top: 40px; max-width: 100%;}
	.card1 .card-content{ border-bottom:1px solid #ccc; margin-bottom:5px;}
/*	.card1 .card-content:last-child{ border:none;}*/
	.row-marb0{padding-bottom: 20px;}
	.bg-white h3 {    margin-bottom: 25px;}
	.tabs1 {    margin-top: 40px;}


	.full-width{ width:100% !important;}


	.head1{text-align: center;margin-left: -20px;    width: 107.7%;}


	h3 small{  margin-top: 5px; line-height: normal; }
	.sameh{ height:auto !important;}
	.vis-xs{ display: block;}
	.card1 .card-image img{   max-width: 70px;}
	.card1 .thumb1{  min-height: 140px;padding-top: 10px;margin-bottom: 0px;}
	.parallax-container1 h5{ line-height: normal;}
	.blockquote2 {    min-height: 0px;    padding-top: 20px;}
	.row-marb-sm{ margin-bottom:0px;}
	.box1 p {    font-size: 1rem; margin-bottom:10px;}
/*	.input-field{  margin-bottom: 1rem;    margin-top: 0rem;}*/
	.map{ margin-top:0px;margin-bottom: 20px;}
		.card-orange .btn{ background-position: 290px 23px;}
		.card-orange .btn:hover{  background-position: 290px 23px;}
		.card-orange .card-title{ line-height: 35px;   margin-bottom: 10px;}
		.row2 {    margin-bottom: 0px;}
		.card1 .card-image .card-title{    font-size: 1.2rem;}
		.card1 .card-content.no-bord{ border-bottom:none !important; }
		.card1 .card-content.no-bord1{ border-bottom:none !important; }
		.card-orange .card-content p:last-child{margin-top: 10px;}
		.parallax-container1{ margin-bottom: 35px !important; }
		.parallax-container1 .parallax{ left: -570px !important;}
		.parallax-container1-bottom li{font-size: 1rem;}
.small-text{ font-size: 11px;}

.box3{ padding: 1.75rem 0rem 2rem;}
.para1{ margin-bottom:15px !important;}
.para2{ margin-bottom:-10px !important;}


	.modal-login {    width: 95%; max-height: 90% !important;    top: 5% !important; overflow:auto;}
	.modal-content form {    padding: 0px !important;}
	.modal .modal-footer{padding-left: 80px; padding-right: 33px !important;}
	.modal .modal-footer .btn1{   text-align: center;    width: 100%;}
	.modal .modal-footer .forgot{  margin:20px; text-align: left}
	.modal .modal-footer .signup{ margin-top: 20px;   margin-right: 20px; text-align:left;}
	.modal .modal-footer{ float: left;width: 100%; height:auto; margin-bottom: 20px; margin-top: -10px;}

	.modal-forgot {    width: 90%;}
	.modal-content h4{    padding-bottom: 25px;}
	.modal-content h5{    margin-bottom: 15px;}
	
	.hide-sm{ display:none;}
	.img1{ width:100%;}
.head2-no-bord{ padding-bottom: 0px;}
.form-padlr {    padding: 0px !important;}
.blockquote1 {    min-height: 0px;}
.parallax-container1 p{ max-width: 450px;}
.container {    width: 93%;}
.card1 .card-content{ min-height: 84px;}
h2{  margin-bottom: 0px;}
.card-box{ margin-bottom:0px;}


}
@media (max-width: 479px) {

.container {    width: 92%;}
	.full-width-sm{ width:100% !important;}
	

	.parallax-container1-bottom{ padding:2px;}

	.parallax-container1-bottom li{ width:50%;   margin-bottom: 10px; padding: 5px;}
	.card-orange{ margin-top: 20px;}
.card-orange .card-content p {    color: #ffffff;    margin: 0px 0px 10px;}
.tabs1 .tab a span{ left:5px;}
.parallax-container1 h1{ line-height:44px; margin: 14.3rem 0 0.18rem;}
.parallax-container1 h5 {    max-width: 100%;}
.parallax-container1 .parallax {    left: -700px !important;}

.pipe{ display:none;} 
.checkbox-box1 .col{  width: 50% !important;}
.card-box .col{ width:100% !important;}
.card1 .thumb1{ min-height: 0px;}
.card1 .card-content.no-bord{ border-bottom: 1px solid #cccccc !important; }
.parallax-container2 .marb{margin-bottom: 40px;}
.small-text {    font-size: 14px;}
.head-birthday{ display:block; margin-top:10px;}

.modal .modal-footer .forgot {    margin: 20px 0px 0px;}
.modal .modal-footer .signup {    margin-top: 20px;   margin-right:0px;}
.modal .modal-footer{  padding-left: 20px;    padding-right: 20px !important; margin-bottom: 35px;}
.modal-login .input-field{ padding:0rem;}
	.modal-content .form1{  width: 90%;}
	.modal-content .form1 .modal-footer{  padding-left: 42px;}

.modal-login .input-field .prefix ~ label {    margin-left: 2.2rem;}
.modal-forgot .row .col.s12{ padding: 0px;}
.modal-forgot .input-field .prefix ~ label {    margin-left: 2.2rem;}

.parallax-container1{ height: 980px;}
.card-orange .btn{ background-position: 218px 23px;}
.card-orange .btn:hover{  background-position: 218px 23px;} 
.card1 .card-content {    min-height: 0px;}

}

@media (max-width: 414px) {
.card-orange .btn{ background-position: 230px 23px;}
.card-orange .btn:hover{  background-position: 230px 23px;} 
}
/* Microsoft Edge Browser 12+ (All) - @supports method */


@media (max-width: 320px) {
.card-orange .btn{ background-position: 180px 23px;}
.card-orange .btn:hover{  background-position: 180px 23px;} 
}

@supports(-ms-accelerator:true) {
  .parallax-container2 .parallax img{left: -13%; } 
}

@media screen and (-webkit-min-device-pixel-ratio:1) {.tnb .brand-logo{left: 0px;} }